# Auto detect text files and perform LF normalization
* text=auto

*.sh text eol=lf
*.svg text
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

*.7z  binary
*.ai  binary
*.exe binary
*.gif binary
*.ico binary
*.jpg binary
*.png binary
*.psd binary
*.zip binary
AI24Settings* binary
