# Auto detect text files and perform LF normalization
* text=auto

*.sh text eol=lf

# windows
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

*.7z  binary
*.exe binary
*.zip binary

# images
*.svg text
*.gif binary
*.ico binary
*.jpg binary
*.png binary

# adobe
*.ai  binary
*.psd binary
AI24Settings* binary
