/*
 * The main dark mode styles
 */

 @mixin dark-scheme {
  /* Framework color */
  --main-bg: #002b36;
  --mask-bg: #586e75;
  --main-border-color: #073642;

  /* Common color */
  --text-color: #839496;
  --text-muted-color: #657b83;
  --text-muted-hightlight-color: #839496;
  --heading-color: #93a1a1;
  --label-color: #586e75;
  --blockquote-border-color: #073642;
  --blockquote-text-color: #657b83;
  --link-color: #268bd2;
  --link-underline-color: #586e75;
  --button-bg: #073642;
  --btn-border-color: #586e75;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #002b36;
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: #002b36;
  --checkbox-color: #839496;
  --checkbox-checked-color: #268bd2;
  --img-bg: radial-gradient(circle, #073642 0%, #002b36 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(133, 153, 0, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #586e75;
  --site-subtitle-color: #657b83;
  --sidebar-bg: #073642;
  --sidebar-border-color: #073642;
  --sidebar-muted-color: #657b83;
  --sidebar-active-color: #eee8d5;
  --sidebar-hover-bg: rgba(0, 43, 54, 0.65);

  --sidebar-btn-bg: #073642;
  --sidebar-btn-color: #586e75;
  --avatar-border-color: var(--site-title-color);

  /* Topbar */
  --topbar-bg: rgba(0, 43, 54, 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: #073642;
  --search-icon-color: #586e75;
  --input-focus-border-color: #586e75;

  /* Home page */
  --post-list-text-color: var(--text-color);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #073642;

  /* Posts */
  --toc-highlight: #268bd2;
  --tag-hover: #073642;
  --tb-odd-bg: #002b36; /* odd rows of the posts' table */
  --tb-even-bg: #073642; /* even rows of the posts' table */
  --tb-border-color: #002b36;
  --footnote-target-bg: #586e75;
  --btn-share-color: #93a1a1;
  --btn-share-hover-color: #b58900;
  --card-bg: #073642;
  --card-hovor-bg: #002b36;
  --card-shadow: rgb(0, 0, 0, 0);
  --kbd-wrap-color: #93a1a1;
  --kbd-text-color: #002b36;
  --kbd-bg-color: #073642;
  --prompt-text-color: rgba(216, 212, 212, 0.75);
  --prompt-tip-bg: rgba(101, 123, 131, 0.64);
  --prompt-tip-icon-color: rgba(101, 123, 131, 0.81);
  --prompt-info-bg: rgba(7, 59, 104, 0.8);
  --prompt-info-icon-color: #839496;
  --prompt-warning-bg: rgba(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgba(255, 165, 0, 0.8);
  --prompt-danger-bg: rgba(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #dc322f;

  /* tags */
  --tag-border: #586e75;
  --tag-shadow: #073642;
  --dash-color: #586e75;
  --search-tag-bg: #002b36;

  /* categories */
  --categories-border: rgba(88, 110, 117, 0.5);
  --categories-hover-bg: #073642;
  --categories-icon-hover-color: #93a1a1;

  /* archives */
  --timeline-node-bg: #657b83;
  --timeline-color: #586e75;
  --timeline-year-dot-color: #eee8d5;

  .light {
    display: none;
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      #002b36,
      #073642,
      #073642,
      #073642,
      #002b36
    );
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */
